body {
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
header {
  width: 100%;
  height: 100px;
  background: red;
  margin: 0 auto;
}
aside {
  position: absolute;
  height: 90vh;
  width: 270px;
  background: #000;
  top: 0;
  right: 0;
  display: none;
}
aside section {
  display: flex;
  flex-direction: column;
}
aside span {
  width: 60px;
  height: 6px;
  background: white;
  margin: 5px;
  border: 2px solid;
  border-radius: 20px;
}

.header-main {
  height: 300px;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-main h2 {
  font-size: 30px;
  font-weight: bold;
}
.header-main .txt {
  width: 70%;
  height: 100%;
  margin-top: 80px;
}
.illustration {
  background: url(./Photo_fun_Walid.JPG) center/cover;
  height: 170px;
  width: 170px;
  border-radius: 200px;
}
.first-container,
.second-container {
  width: 100%;
  background: blue;
  height: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
.left-one,
.right-two {
  height: 100%;
  width: 60%;
  background: green;
}
.right-one,
.left-two {
  height: 100%;
  width: 40%;
  background: orange;
}
.right-one {
  background: url(./imac-g99fb1e01f_1920-removebg-preview.png) center/cover;
}
.skills {
  width: 100%;
  height: 400px;
  background: purple;
  margin-top: 50px;
}
.project {
  width: 100%;
  height: 300px;
  background: blue;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project article {
  height: 200px;
  width: 200px;
  background: green;
}
footer {
  width: 100%;
  height: 200px;
  background: yellow;
  margin-top: 50px;
}
